@model Breed

<h2>Update @Model.breed_name</h2>

@using (Html.BeginForm("UpdateBreedToDatabase", "Breed", "Post"))
{
    <input asp-for="breed_id" type="hidden" value="@Model.breed_id" />

    <label asp-for="breed_name" class="control-label">Breed Name</label>
    <input type="text" name="breed_name" class="form-control" value="@Model.breed_name" />

    <label asp-for="description" class="control-label">Description</label>
    <input type="text" name="description" class="form-control" value="@Model.description" />

    <label asp-for="origin" class="control-label">Origin</label>
    <input type="text" name="origin" class="form-control" value="@Model.origin" />

    <label asp-for="avg_lifespan" class="control-label">Average Lifespan</label>
    <input type="number" step ="1" name="avg_lifespan" class="form-control" value="@Model.avg_lifespan" />

    <label asp-for="image" class="control-label">Image</label>
    <input type="text" name="image" class="form-control" value="@Model.image" />

    <input type="submit" value="Update Breed" class="btn btn-primary" />
}
